<h1>This is Blog</h1>
<h3>I'm serious</h3>
<form action="{% url 'home' %}">
    <input type="search" label="Search" name="search">
    <button type="submit">Search</button>
</form>
<ul>
    {% for post in object_list %}
        <li>
            <a href="{% url 'post' post.pk %}">{{ post.title }}</a>
            <br>
            <i>{{ post.author }}</i>
            <br>
            {{ post.date }}
            <br>
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">Edit</a>
                <a href="{% url 'delete_post' post.pk %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
    <a href="{% url 'new_post' %}">Add new post</a>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'registration' %}">Registration</a>
    <a href="{% url 'login' %}">Login</a>
{% endif %}